<div>
    <section class="ngFor users">
        <h4>Información de usuario</h4>
        <ul class="list-users">
            <li class="head">
                <p>ID</p>
                <p>Nombre</p>
                <p>Edad</p>
                <p>Email</p>
            </li>
            <li class="user-row">
                <p>{{person.id}}</p>
                <p>{{person.name}}</p>
                <p>{{person.age}}</p>
                <p>{{person.email}}</p>
            </li>
        </ul>
    
    </section>
</div>